{% extends  'Base\default.html' %}
{% load censor_filter %}
{% load user_in_group %}
{% load url_context_filter %}

{% block Title %}
News
{% endblock %}
{% block content %}
    <div style="display:flex;    flex-direction: column;">
        {% if request.user.is_authenticated%}
            <a href="{% url 'create_post' %}"> Создать новый пост!</a>
            <a href="{% url 'create_news' %}"> Создать новую новость!</a>
        {% endif %}
    </div>
    <div>
        <form action="" method="get">
            {{  filterset.form.as_p}}
            <input  type="submit" value="Найти"/>
        </form>
    </div >

<div class="container">
      <div class="row gx-5">
           <div class="col">
    {% for post in posts%}
        <div >
            <h1>
                {{post.title|censor}}
            </h1>
            <p>
                {{post.body|truncatechars:20}}
            </p>

            <p>
                {{post.created|date:'d.m.Y'}}
            </p>
                 {% if request.user.is_authenticated %}
            <div class="col">
                <div class="p-3 border bg-light"  style="max-width:300px;">
                 <button onclick="{{post.like}}"> Like</button>
                 <button onclick="{{post.dislike}}"> Dislike</button>
                 </div>
            </div>
                {% endif%}
            <div class="col">
                {% if request.user|has_group:"authors" %}
                    <div class="p-3 border bg-light" style="max-width:300px;">
                        <a type="button" class="btn btn-warning" href="{% url 'edit_news' post.pk %}" type="button"> Изминить</a>
                        <a type="button" class="btn btn-primary" href="{% url 'news_detail' post.pk %}" type="button"> Detail</a>
                        <a type="button" class="btn btn-danger" href="{% url 'delete_news' post.pk %}" type="button"> Удалить</a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor%}
               </div>
          </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
  {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?{% url_replace page=1%}">First 1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?{% url_replace page=page_obj.previous_page_number %}">Previous:{{ page_obj.previous_page_number }}</a>
        </li>
  {% endif %}

      <li class="page-item">
          <a class="page-link" >Current:{{ page_obj.number }} </a>
      </li>
 {% if page_obj.has_next %}
    <li class="page-item">
         <a class="page-link" href="?{% url_replace page=page_obj.next_page_number %}">Next: {{page_obj.next_page_number }}</a>

    </li>
     <li class="page-item">
         <a class="page-link" href="?{% url_replace page=page_obj.paginator.num_pages %}">  Last:
                            {{page_obj.paginator.num_pages }}</a>
      </li>

  {% endif%}
  </ul>
</nav>

{% endblock %}