{% extends  'Base\default.html' %}
{% load censor_filter %}

{% block Title %}
News and Posts
{% endblock %}
{% block content %}
    <div style="display:flex;    flex-direction: column;">
            <a href="{% url 'create_post' %}"> Создать новый пост!</a>
            <a href="{% url 'create_news' %}"> Создать новую новость!</a>
    </div>

    {% for post in posts%}
        <div>
            <h1>
                {{post.title|censor}}
            </h1>
            <p>
                {{post.body|truncatechars:20}}
            </p>

            <p>
                {{post.created|date:'d.m.Y'}}
            </p>
            <div>
                 <button onclick="{{post.like}}"> Like</button>
                 <button onclick="{{post.dislike}}"> Dislike</button>
            </div>
            <div>
                <a href="{% url 'news_detail' post.pk %}" type="button"> Detail</a>
                <a href="{% url 'delete_article' post.pk %}" type="button"> Удалить</a>
                <a href="{% url 'edit_post' post.pk %}" type="button"> Изминить</a>
            </div>
        </div>
    {% endfor%}
        <div>
            {% if page_obj.has_previous %}
                <p>
                        <a href="?page=1">  First: 1</a>
                </p>
                <a href="?page={{ page_obj.previous_page_number }}">Previous: {{ page_obj.previous_page_number }}</a>
            {% endif %}
            <p>
                 Page {{ page_obj.number }}
            </p>
            {% if page_obj.has_next %}
                   <a href="?page={{ page_obj.next_page_number }}">Next: {{page_obj.next_page_number }}</a>
                   <p>

                        <a href="?page={{ page_obj.paginator.num_pages }}">  Last:
                            {{page_obj.paginator.num_pages }}</a>
                   </p>
            {% endif%}


        </div>
{% endblock %}